.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#ffebee ;
  font-family: Arial, Helvetica, sans-serif;
}

.love-calculator{
  background-color: #fff;
  padding: 20px;
  border-radius:10px;
  box-shadwo: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width:300px;
}

.input-group{
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input{
  width: 100%;
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button{
  width: 100%;
  padding: 10px;
  background-color: #e91e63;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #d81b60;

}

.result{
  margin-top: 20px;
  font-size: 20px;
  color: #e91e63;
}
